.gitignore
src/*.o
src/ckeys
src/menu
src/form
src/pick
src/view
src/stripansi
src/iloan
src/whence
src/.cache
src/build
src/*.o
src/gdbcmds
src/tm
src/tf
src/tp
src/tv
src/x
src/xx
src/CMenu.conf
src/enterchr
src/enterstr
src/lf
src/libcm.a
src/libcm.so
src/manifest.ls
src/manifest.txt
src/rsh
build/.cmake
x
xx
