index.html linguist-documentation
C-Menu-UG.md linguist-language=Markdown
CHANGELOG.md linguist-language=Markdown
extras.md linguist-language=Markdown
FAQ.md linguist-language=Markdown
INSTALL.md linguist-language=Markdown
LICENSE.md linguist-language=Markdown
README.md linguist-language=Markdown
snippets.md linguist-language=Markdown
