* {
	background: #000027;
	font-size: 18px;
	font-family: "Source Code Pro", "Courier New", monospace;
}
.rounded-code {
	display: block;
	background: #002f4f;
	color: #f0f0f0;
	border: 1px solid #666060;
	border-radius: 8px;
	padding: 8px;
	width: 70%;
	margin-left: 12%;
	margin-right: 12%;
	font-family: "Source Code Pro", "Courier New", monospace;
}
body {
	color: #00ff9f;
	text-align: left;
	font-family: "Noto Sans Bold", verdana, arial, sans-serif;
	font-size: 18px;
	background: #000027;
}
.wrap-text {
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
}
pre {
	font-family: "Source Code Pro", "Courier New", monospace;
	font-size: 18px;
	color: #e0e0e0;
	background: #002f4f;
}
code {
	display: block;
	font-size: 16px;
	font-family: "Source Code Pro", "Courier New", monospace;
	text-indent: 0;
	background: #002f4f;
}

h1 {
	color: #40ffdf;
	font-size: 40px;
	font-family: "Noto Sans Bold", verdana, arial, sans-serif;
	margin-left: 5%;
	margin-right: 12%;
}
h2 {
	color: #40ffdf;
	font-size: 30px;
	font-family: "Noto Sans Bold", verdana, arial, sans-serif;
	margin-left: 7%;
	margin-right: 12%;
}
h3 {
	color: #40ffdf;
	font-size: 22px;
	font-family: "Noto Sans Bold", verdana, arial, sans-serif;
	margin-left: 10%;
	margin-right: 12%;
}
img {
	display: block;
	width: auto;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #506090;
	border-radius: 8px;
}
ol {
	font-size: 18px;
	margin-left: 0%;
	margin-right: 12%;
}
span {
	font-size: 18px;
	margin-left: 12%;
	margin-right: 12%;
}
p {
	font-size: 18px;
	margin-left: 12%;
	margin-right: 12%;
}
li {
	font-size: 18px;
	margin-left: 12%;
	margin-right: 12%;
}
a {
	font-size: 18px;
	margin-left: 12%;
	margin-right: 12%;
	font-family: "Noto Sans Bold", verdana, arial, sans-serif;
}
a:link {
	color: #00ff9f;
	text-decoration: none;
	margin-left: 12%;
	margin-right: 12%;
	font-family: "Noto Sans Bold", verdana, arial, sans-serif;
	font-size: 18px;
}
a:visited {
	color: #3fcfff;
	text-decoration: none;
	margin-left: 12%;
	margin-right: 12%;
	font-size: 18px;
	font-family: "Noto Sans Bold", verdana, arial, sans-serif;
}
a:hover {
	color: #40ffdf;
	text-decoration: none;
	margin-left: 12%;
	margin-right: 12%;
	font-size: 18px;
	font-family: "Noto Sans Bold", verdana, arial, sans-serif;
}
a:active {
	color: #ff7700;
	text-decoration: none;
	margin-left: 12%;
	margin-right: 12%;
	font-size: 18px;
	font-family: "Noto Sans Bold", verdana, arial, sans-serif;
}
