# $HOME/.config/ghostty/config
#
command = xsh
#  -c menu
title = xsh
# config-file = fonts/default_font
# BEGIN_GHOSTTY_FONT
font-family = "Cascadia Code Medium"
font-family-bold = "Cascadia Code Bold"
font-family-italic = "Cascadia Code Italic"
font-family-bold-italic = "Cascadia Code Bold Italic"
# END_GHOSTTY_FONT
font-size = 13
window-width = 95
window-height = 80
background-opacity = 0.99
window-decoration = server
keybind = ctrl+r=reload_config
# config-file = themes/default_theme
# high_contrast3

palette=0=#000000
palette=1=#FF3f3f
palette=2=#4ff07f
palette=3=#FFef4f
palette=4=#5faFff
palette=5=#f077f0
palette=6=#8fdFfF
palette=7=#FF8f5f
palette=8=#bfbfbf
palette=9=#FF7f00
palette=10=#00FFa0
palette=11=#FFcf00
palette=12=#005fFF
palette=13=#FF00FF
palette=14=#00ffff
palette=15=#e0d0d0

# extended colors
background = #000720
foreground = #e0d0d0
cursor-color = #f0f0f0
selection-background = #e0d0d0
selection-foreground = #000000
