# ~/.config/ghostty/config
#
# If you have had problems with the bash executable distributed with
# SuSE Tumbleweed, you may want to download the bash source and build
# your own bash executable. By renaming your bash executable, you
# can leave the original bash executable intact as a backup. This has
# the additional benefit of skirting interference by system updates,
# AppArmor, and other programs that target bash by name.
#
# The JetBrains Mono font is available from:
#
# https://www.jetbrains.com/lp/mono/
#
# The standard color palette is rather drab, so you may want to
# include a more colorful palette. The palette below is a high
# contrast palette that you may fFFind more visually appealing.
#
command = xsh -i
title = xsh
font-family = "JetBrainsMono NFM Medium"
font-family-bold = "JetBrainsMono NFM ExtraBold"
font-family-italic = " JetBrainsMono NFM Italic"
font-family-bold-italic = "JetBrainsMono NFM Bold Italic"
font-size = 15
window-width = 95
window-height = 50
background-opacity = 0.99
window-decoration = server
# High contrast colors
palette=0=#000000
palette=1=#FF3f3f
palette=2=#4ff07f
palette=3=#FFef4f
palette=4=#5faFff
palette=5=#f077f0
palette=6=#8fdFfF
palette=7=#FF8f5f
palette=8=#bfbfbf
palette=9=#FF7f00
palette=10=#00FFa0
palette=11=#FFcf00
palette=12=#005fFF
palette=13=#FF00FF
palette=14=#00ffff
palette=15=#e0d0d0
background = #000720
foreground = #e0d0d0
cursor-color = #f0f0f0
selection-background = #e0d0d0
selection-foreground = #000000

