# .clang-tidy
Checks: "-*,clang-analyzer-*"
# ",cert-*,cppcoreguidelines-*,modernize-*"
# "misc*,readability-*"
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - c
HeaderFilterRegex: ".*"
ExcludeHeaderFilterRegex: ""
FormatStyle: llvm
User: bill
CheckOptions:
  readability-identifier-naming.AggressiveDependentMemberLookup: "false"
  readability-identifier-naming.CheckAnonFieldInParent: "false"
  readability-identifier-naming.GetConfigPerFile: "true"
  readability-identifier-naming.IgnoreFailedSplit: "false"
  readability-identifier-naming.IgnoreMainLikeFunctions: "false"
SystemHeaders: false
