[Desktop Entry]
Actions=New;
Categories=System;TerminalEmulator;
Comment[en_US]=A fast, cross-platform, OpenGL terminal emulator
Comment=A fast, cross-platform, OpenGL terminal emulator
Comment[ca]=Un emulador de terminal millorat per a GPU i multiplataforma
Comment[ja]=高速でクロスプラットフォーム対応の OpenGL 端末エミュレータ
Comment[sk]=Rýchly, viacplatformový OpenGL emulátor terminálu
Exec=alacritty -e menu
GenericName[en_US]=Terminal
GenericName=Terminal
GenericName[ca]=Terminal
GenericName[cs]=Terminál
GenericName[de]=Konsole
GenericName[fi]=Pääte
GenericName[id]=Terminal
GenericName[ja]=端末
GenericName[pt]=Terminal
GenericName[pt_BR]=Terminal
GenericName[sk]=Terminál
GenericName[sv]=Terminal
GenericName[zh_CN]=终端
Icon=/usr/share/pixmaps/Decision.svg
MimeType=
Name[en_US]=C-Menu Alacritty
Name[be]=Alacritty
Name[ca]=Alacritty
Name[cs]=Alacritty
Name[de]=Alacritty
Name[es]=Alacritty
Name[id]=Alacritty
Name[ja]=Alacritty
Name[pt]=Alacritty
Name[pt_BR]=Alacritty
Name[sk]=Alacritty
Name[sv]=Alacritty
Name[zh_CN]=Alacritty
Path=
StartupNotify=true
StartupWMClass=Alacritty
Terminal=false
TerminalOptions=
TryExec=alacritty
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=

[Desktop Action New]
Exec=alacritty -e menu
Name=C-Menu Alacritty
